
h1 {
    color:bisque;
    font-size: 300%;
}



a {
    color:red;
        font-size: 150%;
}

ul { 
    list-style-type:none;
    
}


li {
 background-color:coral;   
 display:inline-block;   
    
 width:150px;
 height:60px;
    
 border: black solid;
 margin:10px;
 padding:8px;
    
}